<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <script src="../../tailwind-css/config.js"></script>
  <body>
    <section class="bg-secondary">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6">
        <div class="grid grid-cols-3 gap-14">
          <div class="flex items-center justify-around">
            <img
              src="../../assets/icons/arrow-left.png"
              class="cursor-pointer h-8"
            />
            <div
              class="bg-white h-[300px] aspect-square flex items-center justify-center px-2.5 py-9"
            >
              <img src="../../assets/images/image 10.png" />
            </div>
            <img
              src="../../assets/icons/arrow-right.png"
              class="cursor-pointer h-8"
            />
          </div>
          <div class="flex items-center justify-around">
            <img
              src="../../assets/icons/arrow-left.png"
              class="cursor-pointer h-8"
            />
            <div
              class="bg-white h-[300px] aspect-square flex items-center justify-center px-2.5 py-9"
            >
              <img src="../../assets/images/image 10.png" />
            </div>
            <img
              src="../../assets/icons/arrow-right.png"
              class="cursor-pointer h-8"
            />
          </div>
          <div class="flex items-center justify-around">
            <img
              src="../../assets/icons/arrow-left.png"
              class="cursor-pointer h-8"
            />
            <div
              class="bg-white h-[300px] aspect-square flex items-center justify-center px-2.5 py-9"
            >
              <img src="../../assets/images/image 10.png" />
            </div>
            <img
              src="../../assets/icons/arrow-right.png"
              class="cursor-pointer h-8"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
