<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <script src="../../tailwind-css/config.js"></script>
  <body>
    <section class="">
      <div class="mx-auto p-4 py-6">
        <div class="flex items-center justify-around">
          <img
            src="../../assets/icons/arrow-left.png"
            class="cursor-pointer h-8"
          />
          <div
            class="bg-white aspect-square flex items-center justify-center px-2.5 py-9"
          >
            <img src="../../assets/images/product.png" />
          </div>
          <img
            src="../../assets/icons/arrow-right.png"
            class="cursor-pointer h-8"
          />
        </div>
      </div>
    </section>
  </body>
</html>
