<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <script src="../../tailwind-css/config.js"></script>
  <body>
    <nav class="bg-white border-gray-200 shadow-sm">
      <div
        class="max-w-screen-xl flex items-center justify-between mx-auto p-4"
      >
        <div class="flex items-center gap-2 mr-4">
          <img src="../../assets/icons/menu.png" alt="" class="w-6 lg:hidden" />
          <a href="#" class="shrink">
            <img
              src="../../assets//images/logo.png"
              class="h-8 mr-3"
              alt="Logo"
            />
          </a>
        </div>
        <div
          class="hidden absolute top-0 right-0 bottom-0 left-0 bg-white -z-50 h-[100vh] pt-20 lg:w-auto lg:relative lg:z-0 lg:h-auto lg:pt-0 lg:block"
          id="navbar-default"
        >
          <ul
            class="relative font-medium flex p-0 flex-col lg:space-x-2 lg:flex-row"
          >
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-primary lg:text-white lg:bg-primary"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-primary lg:hover:bg-gray-100"
                >About us</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-primary lg:hover:bg-gray-100"
                >Products</a
              >
            </li>
            <li class="group gb-red-300 lg:relative">
              <a
                href="#"
                class="block py-2 px-4 text-primary flex gap-3 items-center lg:hover:bg-gray-100"
                aria-current="page"
                >What we offer
                <img src="../../assets//icons/arrow-down.png" class="h-3" />
              </a>
              <div
                class="hidden absolute top-0 right-0 left-0 bottom-0 h-full bg-white group-hover:block hover:block lg:w-[200px] text-primary lg:text-gray-600 text-sm lg:pt-4 lg:top-full lg:bg-transparent"
              >
                <ul class="flex flex-col bg-white lg:drop-shadow-lg">
                  <li class="px-5 py-3 hover:bg-gray-200">
                    <a class="" href="#">About Us</a>
                  </li>
                  <li
                    class="group/contact px-5 py-3 hover:bg-gray-200 lg:relative"
                    href="#"
                  >
                    <a class="" href="#">Contact Us</a>
                    <div
                      class="hidden absolute top-0 right-0 left-0 bottom-0 h-full bg-white group-hover/contact:block hover:block lg:w-[200px] text-primary lg:text-gray-600 text-sm lg:pt-4 lg:left-full lg:top-0 lg:bg-transparent"
                    >
                      <ul class="flex flex-col bg-white lg:drop-shadow-lg">
                        <li class="px-5 py-3 hover:bg-gray-200">
                          <a class="" href="#">About Us nested</a>
                        </li>
                        <li
                          class="relative px-5 py-3 hover:bg-gray-200"
                          href="#"
                        >
                          <a class="" href="#">Contact Us nested </a>
                        </li>
                        <li
                          class="group/contact-nested px-5 py-3 hover:bg-gray-200 lg:relative"
                          href="#"
                        >
                          <a class="" href="#">Contact Us</a>
                          <div
                            class="hidden absolute top-0 right-0 left-0 bottom-0 h-full bg-white group-hover/contact-nested:block hover:block lg:w-[200px] text-primary lg:text-gray-600 text-sm lg:pt-4 lg:left-full lg:top-0 lg:bg-transparent"
                          >
                            <ul
                              class="flex flex-col bg-white lg:drop-shadow-lg"
                            >
                              <li class="px-5 py-3 hover:bg-gray-200">
                                <a class="" href="#">About Us nested nested</a>
                              </li>
                              <li
                                class="relative px-5 py-3 hover:bg-gray-200"
                                href="#"
                              >
                                <a class="" href="#"
                                  >Contact Us nested nested
                                </a>
                              </li>
                              <li class="px-5 py-3 hover:bg-gray-200" href="#">
                                <a class="" href="#"
                                  >Privacy Policy nested nested
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li class="px-5 py-3 hover:bg-gray-200" href="#">
                          <a class="" href="#">Privacy Policy nested </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="px-5 py-3 hover:bg-gray-200" href="#">
                    <a class="" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-primary lg:hover:bg-gray-100"
                >Projects</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-4 text-primary lg:hover:bg-gray-100"
                >Download</a
              >
            </li>
          </ul>
        </div>
        <div class="flex flex-row items-center gap-x-3">
          <img src="../../assets/icons/search.png" class="h-6" />
          <img src="../../assets/icons/mail.png" class="h-6" />
          <img src="../../assets/icons/globe.png" class="h-6" />
        </div>
      </div>
    </nav>
  </body>
</html>
