<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <script src="../../tailwind-css/config.js"></script>

  <body>
    <div class="bg-gray-100 flex flex-col w-max relative">
      <img class="" src="../../assets/images/client.png" alt="" />
      <div
        class="flex gap-1 py-4 bg-primary text-center absolute w-full bottom-0"
      >
        <span class="text-white text-bold uppercase text-bold text-lg w-full"
          >KING KHALID HOSPITAL</span
        >
      </div>
    </div>
  </body>
</html>
