<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <script src="../../tailwind-css/config.js"></script>

  <body>
    <div class="bg-gray-100 flex flex-col gap-10 py-6 px-5 w-full mb-5">
      <img class="rounded-3xl" src="../../assets/images/image 10.png" alt="" />
      <div class="flex flex-col gap-1">
        <span
          class="text-neutral-400 text-lg text-bold uppercase text-bold text-xl"
          >Medical Carts</span
        >
        <span class="text-primary text-3xl font-bold capitalize"
          >Dressing cart</span
        >
        <span class="text-neutral-400 text-lg capitalize">
          Designed for intervention rooms...
        </span>
        <a
          class="capitalize text-primary text-xl font-semibold border w-max px-10 py-3 border-primary border-2 rounded-full mt-5 hover:text-white hover:bg-primary duration-100 ease-in"
          href="#"
          >Read More
        </a>
      </div>
    </div>
  </body>
</html>
