<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <script src="../../tailwind-css/config.js"></script>
  <body>
    <footer class="bg-secondary">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6">
        <div class="flex justify-between flex-col md:flex-row">
          <div class="flex flex-col mb-9">
            <a href="#">
              <img
                src="../../assets//images/logo.png"
                class="h-8 mr-3"
                alt="Logo"
              />
            </a>
            <p class="text-gray-600 font-medium mt-1">
              ARIAS... solution that meet your needs and further
            </p>
          </div>
          <div class="grid gap-6 grid-cols-2 md:grid-cols-3 md:gap-20">
            <div>
              <h2 class="mb-3 text-sm font-semibold text-primary uppercase">
                sales support
              </h2>
              <ul class="text-gray-600 font-medium">
                <li class="my-1 capitalize">
                  <a href="#" class="hover:underline"
                    >Make a technical request</a
                  >
                </li>
                <li class="my-1 capitalize">
                  <a href="#" class="hover:underline">build your RFQ</a>
                </li>
                <li class="my-1 capitalize">
                  <a href="#" class="hover:underline">design your project</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-3 text-sm font-semibold text-primary uppercase">
                Catalogues
              </h2>
              <ul class="text-gray-600 font-medium">
                <li class="my-1 capitalize">
                  <a
                    href="https://github.com/themesberg/flowbite"
                    class="hover:underline"
                    >Lab furniture catalogue</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-span-2 md:col-span-1">
              <h2 class="mb-3 text-sm font-semibold text-primary uppercase">
                Contact us
              </h2>
              <ul class="text-gray-600 font-medium">
                <li class="my-1 capitalize flex items-center gap-2">
                  <img src="../../assets//icons/phone.png" class="h-6" />
                  <div class="flex flex-col">
                    <a href="#" class="hover:underline">+34 960 013 019</a>
                    <a href="#" class="hover:underline">+34 960 013 019</a>
                  </div>
                </li>
                <li class="my-1 capitalize flex items-center gap-2">
                  <img src="../../assets//icons/mail.png" class="h-6" />
                  <div class="flex flex-col">
                    <a href="#" class="lowercase hover:underline"
                      >admin@arias.com</a
                    >
                  </div>
                </li>
                <li class="my-1 capitalize flex items-center gap-1 mt-3">
                  <img src="../../assets//icons/facebook.png" class="h-6" />
                  <img src="../../assets//icons/linkedin.png" class="h-6" />
                  <img src="../../assets//icons/instagram.png" class="h-6" />
                  <img src="../../assets//icons/twitter.png" class="h-6" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="mt-10 mb-2 border-t-2 border-gray-400 mx-auto" />
        <div class="text-xs flex items-center justify-between md:text-sm">
          <div class="flex space-x-6 justify-center">
            <a href="#">
              <span class="text-gray-400 hover:text-gray-700 capitalize"
                >terms of use
              </span>
            </a>
            <a href="#">
              <span class="text-gray-400 hover:text-gray-700 capitalize"
                >privacy
              </span>
            </a>
          </div>
          <span class="text-gray-400">© 2023 Arias Lab System. </span>
        </div>
      </div>
    </footer>
  </body>
</html>
