<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<script src="../../tailwind-css/config.js"></script>

<body>
  <div class="bg-white-100 flex flex-col gap-3 items- py-6 px-5 w-full">
    <div class="flex justify-between">
      <span class="text-primary/75  text-lg font-semibold capitalize ">main feature</span>
      <a class="text-primary text-lg font-semibold capitalize underline underline-offset-8" href="#">Technical
        specification</a>
    </div>
    <h2 class="text-3xl font-bold text-primary my-3">Dressing Cart - GHMF-2003</h2>
    <ul class="list-disc ml-5 font-semibold">
      <li>For entire sterilization required places.</li>
      <li>Manufactured from 304-grade stainless steel.</li>
      <li>5 removable and sealable plastic drawers with separators.</li>
      <li>Dimensions of 4 drawers 600x400x100Hmm.</li>
      <li>Dimensions of 1 drawer 600x400x200Hmm.</li>
      <li>Height adjustable IV Pole, Oxygen tube holder.</li>
      <li>Safety cap and safety seal.</li>
      <li>Waste receptacle. 125mm four castors with two breaks.</li>
      <li>Dimensions (WxLxH): 450x700x940Hmm.</li>
    </ul>
  </div>
</body>

</html>